<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'SEO_campaigns_Marketing' | translate }}</li>
        </ol>
        <h2>{{ 'SEO_campaigns_Marketing' | translate }}</h2>

    </div>
</section>
<section id="seo" class="seo">
    <div class="seo-container">
        <div class="image-container">
            <img src="../../assets/img/seo.png" alt="Plugins On Demand">
        </div>
        <h2>{{ 'SEO_campaigns_Marketing' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span> {{ 'SEO_campaigns_Marketing_p1' | translate }}</p>
        <p>{{ 'SEO_campaigns_Marketing_p2' | translate }}</p>
        <p>{{ 'SEO_campaigns_Marketing_p3' | translate }}</p>
        <p>{{ 'SEO_campaigns_Marketing_p4' | translate }} <span class="highlight">SYNC</span> {{ 'SEO_campaigns_Marketing_p5' | translate }}</p>
    </div>
</section>