#header {
  height: 100px;
  // border-bottom-right-radius: 50% 60%;
  margin: 20px;
  border-radius: 20px;
}

.visibility {
  display: none;
}

.cta-btn {
  background: #464c80;
  padding: 10px !important;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow:
    4.5px 4.5px 3.6px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.04),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.052),
    100px 100px 80px rgba(0, 0, 0, 0.08);
}