<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-contact">
                    <img class="footer_logo" src="assets/img/sync_logo.png" width="auto" height="auto" alt="sync">
                    <p>
                        Teboulba,Monastir <br>
                        Tunisia<br>
                        <br>
                        <strong>{{ 'call' | translate }} 1:</strong><a href="tel:+216 99 676 111">+216 99 676
                            111</a><br>
                        <strong>{{ 'call' | translate }} 2:</strong><a href="tel:+216 51 873 655">+216 51 873
                            655</a><br>
                        <strong>{{ 'email' | translate }}:</strong><a
                            href="mail:contact@sync.tn"> contact&#64;sync.tn</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'useful_Links' | translate }}</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a routerLink="/privacy">{{ 'Privacy_Policy' | translate }}</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a routerLink="/terms-and-conditions">{{ 'terms_conditions' | translate }}</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a routerLink="/blogspot">{{ 'blogspot' | translate }}</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a routerLink="/contact">{{ 'contact' | translate }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'our_Social_Networks' | translate }}</h4>
                    <p>{{ 'our_Social_Networks-text' | translate }}</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=100092563272169" class="facebook"target="_blank" aria-label="Visit our Facebook profile">
                            <i class="bx bxl-facebook"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="https://www.linkedin.com/company/synchronized-your-needs-with-creative-technology/about"
                            class="linkedin" target="_blank" aria-label="Visit our LinkedIn profile">
                            <i class="bx bxl-linkedin"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Sync</span></strong>. {{ 'all_Rights_Reserved' | translate }}
        </div>
        <div class="credits">{{ 'designed_by' | translate }}</div>
    </div>
</footer>
