.footer_logo {
    width: 200px;
    margin-bottom: 5%;
}

#footer .footer-top {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer_logo {
  max-width: 100%; /* Pour une meilleure adaptabilité */
  height: auto; /* Conserve les proportions de l'image */
}
