<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'terms_conditions' | translate }}</li>
        </ol>
        <h2>{{ 'terms_conditions' | translate }}</h2>

    </div>
</section>
<section id="terms" class="terms">
    <div class="terms-container">
        <h2>{{ 'terms_conditions' | translate }}</h2>
        <p>{{ 'terms_conditions_last_update' | translate }}</p>
        <p>{{ 'terms_conditions_p1' | translate }}</p>
        <h2>{{ 'Interp_and_def' | translate }}</h2>
        <h3>{{ 'Interp_and_def_t1' | translate }}</h3>
        <p>{{ 'tc_Interp_and_def_p1' | translate }}</p>
        <h3>{{ 'Interp_and_def_t2' | translate }}</h3>
        <p>{{ 'tc_Interp_and_def_p2' | translate }}</p>
        <ul>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li1' | translate }}</strong> {{ 'tc_Interp_and_def_li1_1' | translate}}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li2' | translate }}</strong> {{ 'tc_Interp_and_def_li2_1' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li3' | translate }}</strong> {{ 'tc_Interp_and_def_li3_1' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li4' | translate }}</strong> {{ 'tc_Interp_and_def_li4_1' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li5' | translate }}</strong> {{ 'tc_Interp_and_def_li5_1' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li6' | translate }}</strong> {{ 'tc_Interp_and_def_li6_1' | translate }} 
                    <a href="https://www.freeprivacypolicy.com/free-terms-and-conditions-generator/"target="_blank">
                        {{ 'tc_Interp_and_def_li6_2' | translate }}
                    </a>.
                </p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li7' | translate }}</strong> {{ 'tc_Interp_and_def_li7_1' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li8' | translate }}</strong> {{ 'tc_Interp_and_def_li8_1' | translate }} 
                    <a href="https://www.sync.tn" rel="external nofollow noopener" target="_blank">
                        https://www.sync.tn
                    </a>
                </p>
            </li>
            <li>
                <p><strong>{{ 'tc_Interp_and_def_li9' | translate }}</strong> {{ 'tc_Interp_and_def_li9_1' | translate }}</p>
            </li>
        </ul>
        <h2>{{ 'tc_acknowledgment' | translate }}</h2>
        <p>{{ 'tc_acknowledgment_p1' | translate }}</p>
        <p>{{ 'tc_acknowledgment_p2' | translate }}</p>
        <p>{{ 'tc_acknowledgment_p3' | translate }}</p>
        <p>{{ 'tc_acknowledgment_p4' | translate }}</p>
        <p>{{ 'tc_acknowledgment_p5' | translate }}</p>
        <h2>{{ 'tc_links' | translate }}</h2>
        <p>{{ 'tc_links_p1' | translate }}</p>
        <p>{{ 'tc_links_p2' | translate }}</p>
        <p>{{ 'tc_links_p2' | translate }}</p>
        <h2>{{ 'tc_termination' | translate }}</h2>
        <p>{{ 'tc_termination_p1' | translate }}</p>
        <p>{{ 'tc_termination_p2' | translate }}</p>
        <h2>{{ 'tc_limitation_of_liability' | translate }}</h2>
        <p>{{ 'tc_limitation_of_liability_p1' | translate }}</p>
        <p>{{ 'tc_limitation_of_liability_p2' | translate }}</p>
        <p>{{ 'tc_limitation_of_liability_p3' | translate }}</p>
        <h2>{{ 'tc_disclaimer' | translate }}</h2>
        <p>{{ 'tc_disclaimer_p1' | translate }}</p>
        <p>{{ 'tc_disclaimer_p2' | translate }}</p>
        <p>{{ 'tc_disclaimer_p3' | translate }}</p>
        <h2>{{ 'tc_governing_law' | translate }}</h2>
        <p>{{ 'tc_governing_law_p1' | translate }}</p>
        <h2>{{ 'tc_disputes_resolution' | translate }}</h2>
        <p>{{ 'tc_disputes_resolution_p1' | translate }}</p>
        <h2>{{ 'tc_severability_waiver' | translate }}</h2>
        <h3>{{ 'tc_severability_waiver_t1' | translate }}</h3>
        <p>{{ 'tc_severability_waiver_p1' | translate }}</p>
        <h3>{{ 'tc_severability_waiver_t2' | translate }}</h3>
        <p>{{ 'tc_severability_waiver_p2' | translate }}</p>
        <h2>{{ 'tc_translation_interpretation' | translate }}</h2>
        <p>{{ 'tc_translation_interpretation_p1' | translate }}</p>
        <h2>{{ 'changes_tc' | translate }}</h2>
        <p>{{ 'changes_tc_p1' | translate}}</p>
        <p>{{ 'changes_tc_p2' | translate}}</p>
        <h2>{{ 'contact_us' | translate }}</h2>
        <p>{{ 'tc_contact_us_p1' | translate }}</p>
        <ul>
            <li>
                <p>{{ 'contact_us_p2' | translate }}<a href="mailto:contact@sync.tn">contact@sync.tn</a></p>
            </li>
            <li>
                <p>{{ 'contact_us_p3' | translate }}</p>
            </li>
        </ul>
    </div>
</section>