<section id="services" class="services section-bg" style="background-color: #fff;">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>{{ 'services' | translate }}</h2>
            <h4>{{ 'what_Solutions' | translate }}</h4>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-gear"></i>{{ 'webService_integration' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'webService_integration_paragraph' | translate }}</p>
                        <a routerLink="/web-service-integration">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-display"></i>{{ 'Web_Development' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'Web_dev_paragraph' | translate }}</p>
                        <a routerLink="/web-development">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-plugin"></i>{{ 'plugins_on_demand' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'plugins_on_demand_paragraph' | translate }}</p>
                        <a href="#">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-motherboard-fill"></i>{{ 'CMS_development' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'CMS_development_paragraph' | translate }}</p>
                        <a href="#">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-phone-fill"></i>{{ 'App_Development' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'mobile_dev_paragraph' | translate }}</p>
                        <a href="#">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 item" data-aos="zoom-in" data-aos-delay="100">
                    <div class="item-in">
                        <h4><i class="bi bi-badge-ad-fill"></i>{{ 'Campaigns_marketing' | translate }}</h4>
                        <div class="seperator"></div>
                        <p>{{ 'Campaigns_marketing_paragraph' | translate }}</p>
                        <a href="#">Read More<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>