<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'mobile_dev' | translate }}</li>
        </ol>
        <h2>{{ 'mobile_dev' | translate }}</h2>

    </div>
</section>
<section id="mobile-dev" class="mobile-dev">
    <div class="mobile-dev-container">
        <div class="image-container">
            <img src="../../assets/img/mobile-dev.png" alt="Mobile Application Development">
        </div>
        <h2>{{ 'mobile_dev_t1' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span>{{ 'mobile_dev_p1' | translate }}</p>
        <p>{{ 'mobile_dev_p2' | translate }}</p>
        <p>{{ 'mobile_dev_p3' | translate }} <span class="highlight">SYNC</span> {{ 'mobile_dev_p4' | translate }}</p>
    </div>
</section>