<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>{{ 'portfolio' | translate }}</h2>
            <p>{{ 'portfolio-text' | translate }}</p>
        </div>

        <!-- Buttons to filter projects -->
        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li (click)="filterProjects('All')" [ngClass]="allBtn ? 'filter-active' : '' ">All</li>
            <li (click)="filterProjects('WEB')" [ngClass]="webBtn ? 'filter-active' : '' ">WEB</li>
            <li (click)="filterProjects('MOBILE')" [ngClass]="mobileBtn ? 'filter-active' : '' ">Mobile</li>
            <li (click)="filterProjects('SEO')" [ngClass]="seoBtn ? 'filter-active' : '' ">SEO</li>
        </ul>
        
        <!-- List of projects -->
        <div class="projets-section">
            <div class="card-grid">
                <a [ngClass]="'card ' + projet.category.toLowerCase()" 
                    *ngFor="let projet of filteredProjects"
                    routerLink="portfolio-details/{{ projet._id }}" 
                    [@fadeInOut]>
                    <!-- Card Image -->
                    <div class="card__background" style="background-image: url({{projet.preview}})"></div>
                    <!-- Card Title and Category -->
                    <div class="card__content">
                        <p class="card__category">{{ projet.category }}</p>
                        <h3 class="card__heading">{{ projet.title }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>