<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{{ 'portfolio' | translate }}</h2>
            <p>{{ 'portfolio-text' | translate }}</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
        </ul>

        <!-- <div class="row cards_container">
            <div class="col-md-3 mb-3 text-center col-padding animate-box" *ngFor="let projet of portfolios">
                <a routerLink="portfolio-details/{{ projet._id }}" class="work" style="background-image: url({{projet.image}});">
                    <div class="desc">
                        <h3>{{ projet.title }}</h3>
                        <span>{{ projet.category }}</span>
                    </div>
                </a>
            </div>
        </div> -->
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div *ngFor="let projet of portfolios"
                [ngClass]="'col-lg-4 col-md-6 portfolio-item ' + 'filter-' + projet.category.toLowerCase()">
                <a routerLink="portfolio-details/{{ projet._id }}">
                    <div class="portfolio-img"><img [src]="projet.image" alt="{{ projet.title }}" class="img-fluid">
                    </div>
                    <div class="portfolio-info">
                        <h4>{{ projet.title }}</h4>
                        <p>{{ projet.category }}</p>
                        <a href="{{ projet.image }}" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Voir l'image">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a routerLink="portfolio-details/{{ projet._id }}" class="details-link" title="More Details">
                            <i class="bx bx-link"></i>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>