<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'web_dev' | translate }}</li>
        </ol>
        <h2>{{ 'web_dev' | translate }}</h2>

    </div>
</section>
<section id="web-dev" class="web-dev">
    <div class="web-dev-container">
        <div class="image-container">
            <img src="../../assets/img/web-dev.jpg" alt="SYNC Web Development">
        </div>
        <h2>{{ 'web_dev_t1' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span>{{ 'web_dev_p1' | translate }}</p>
        <p>{{ 'web_dev_p2' | translate }}</p>
        <p>{{ 'web_dev_p3' | translate }} <span class="highlight">SYNC</span> {{ 'web_dev_p4' | translate }}</p>
    </div>
</section>