.faq_lottie {
    height: 160px;
    width: auto;
}

.section-title h2::after {
    opacity: 0;
    animation: leftToRight 3s linear infinite;
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    50% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}