.about {
    background-color: #F3F5FA;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.about .aboutus-lottie {
    width: 50%;
}

.about .content h3 {
    font-size: 32px;
    padding-top: 40px;
}

.about .content p:last-child {
    font-size: 18px;
    padding-top: 40px;
}

.section-title h2::after {
    opacity: 0;
    animation: leftToRight 3s linear infinite;
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    50% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

@media (max-width: 992px) {
    .about .aboutus-lottie {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .about h3 {
        font-size: 26px !important;
        padding-top: 0px !important;
        padding-left: 30px;
    }

    .about .aboutus-lottie {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about .content p:last-child {
        font-size: 18px;
        padding: 40px 20px 10px 20px;
        text-align: center;
    }
}
