<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>{{ 'about_us' | translate }}</h2>
        </div>

        <div class="row content">
            <div class="aboutus-lottie col-lg-6">
                <ng-lottie [options]="aboutUS"></ng-lottie>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>SYNC your partner in digital</h3>
                <p>{{ 'linking_service' | translate }}</p>
            </div>
        </div>
    </div>
</section>