<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'WEB_service_integration' | translate }}</li>
        </ol>
        <h2>{{ 'WEB_service_integration' | translate }}</h2>

    </div>
</section>
<section id="web-service-integration" class="web-service-integration">
    <div class="web-service">
        <div class="image-container">
            <img src="../../assets/img/web_service_integration.jpg" alt="Plugins On Demand">
        </div>
        <h2>{{ 'WEB_service_integration' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span> {{ 'WEB_service_integration_p1' | translate }}</p>
        <p>{{ 'WEB_service_integration_p2' | translate }}</p>
        <p>{{ 'WEB_service_integration_p3' | translate }}</p>
        <p>{{ 'WEB_service_integration_p4' | translate }} <span class="highlight">SYNC</span> {{ 'WEB_service_integration_p5' | translate }}</p>
    </div>
</section>