<!-- class="d-flex align-items-center" -->
<section id="hero">
    <div class="banner">
        <div class="aestroid">
            <div class="stone"></div>  <!-- 1 -->
            <div class="stone"></div>  <!-- 2 -->
            <div class="stone"></div>  <!-- 3 -->
            <div class="stone"></div>  <!-- 4 -->
            <div class="stone"></div>  <!-- 5 -->
            <div class="stone"></div>  <!-- 6 -->
            <div class="stone"></div>  <!-- 7 -->
            <div class="stone"></div>  <!-- 8 -->
            <div class="stone"></div>  <!-- 9 -->
        </div>
        <div class="banner-text" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
          <h1 class="animate-charcter">{{ 'premier_titre' | translate }}</h1>
          <h4>{{ 'sous_premier_titre' | translate }}</h4>
        </div>
        <div class="dev-lottie" data-aos="zoom-in" data-aos-delay="200">
          <ng-lottie [options]="dev" loading="lazy"></ng-lottie>
        </div>
    </div>
</section>
