// Import Font
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

// Background
.banner {
	text-align: center;
	padding-top: 65px;
	color: #FFF;
}

.banner-text {
	margin: 0 auto;
	max-width: 70vw;
}

// Titles
.banner h1 {
	font-size: 34px !important;
	font-weight: 400;
	font-family: "Anta", sans-serif;
	position: relative;
	top: 30px;
}

.banner h4 {
	font-size: 18px;
	font-weight: 600;
	font-family: "Anta", sans-serif;
	line-height: 1.6em;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: none;
	position: relative;
	top: 40px;
}

.animate-charcter {
	background-image: linear-gradient(-225deg,
			#63adf2 0%,
			#82a0bc 29%,
			#a7cced 67%,
			#304d6d 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	font-size: 190px;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

// Lottie Image
.dev-lottie {
	height: 83vh;
	z-index: 9999;
}

// dropped points with animation
.stone {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	z-index: 2;
}

.stone:nth-child(2) {
	top: 40vh;
	left: 230px;
	box-shadow: 0 4px 70px;
	background: url("../../../assets/logos/angular.webp");
	background-size: cover;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(2):hover {
	transform: rotate(360deg);
}

.stone:nth-child(3) {
	top: 60vh;
	left: 130px;
	box-shadow: 0 4px 70px;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	background: url("../../../assets/logos/nodejs.webp");
	background-size: cover;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(3):hover {
	transform: rotate(360deg);
}

.stone:nth-child(4) {
	top: 18vh;
	right: 100px;
	left: inherit;
	box-shadow: 0 4px 70px;
	animation: fadeInRight 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	background: url("../../../assets/logos/prestashop.webp");
	background-size: cover;
	z-index: 9;
	opacity: 1;
}

.stone:nth-child(4):hover {
	transform: rotate(360deg);
}

.stone:nth-child(5) {
	top: 36vh;
	right: 250px;
	left: inherit;
	box-shadow: 0 4px 70px;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	background: url("../../../assets/logos/wordpress.webp");
	background-size: cover;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(5):hover {
	box-shadow: 0 4px 70px;
	transform: rotate(360deg);
}

.stone:nth-child(6) {
	top: 60vh;
	right: 150px;
	left: inherit;
	box-shadow: 0 4px 70px;
	transition: transform 0.5s ease;
	background: url("../../../assets/logos/shopify.webp");
	background-size: cover;
	animation: fadeInRight 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(6):hover {
	transform: rotate(360deg);
}

.stone:nth-child(7) {
	top: 18vh;
	left: 100px;
	box-shadow: 0 4px 70px;
	background: url("../../../assets/logos/android.webp");
	transition: transform 0.5s ease;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(7):hover {
	transform: rotate(360deg);
}

.stone:nth-child(8) {
	top: 85vh;
	left: 240px;
	box-shadow: 0 4px 70px;
	background: url("../../../assets/logos/react.webp");
	transition: transform 0.5s ease;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	z-index: 2;
	opacity: 1;
}

.stone:nth-child(9) {
	top: 85vh;
	right: 280px;
	box-shadow: 0 4px 70px;
	background: url("../../../assets/logos/shopware.webp");
	transition: transform 0.5s ease;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	animation: fadeInLeft 1s ease-in-out, up-down 1s ease-in-out infinite alternate-reverse both;
	z-index: 2;
	opacity: 1;
}

// Rain animation
@keyframes stone {
	from {
		transform: translateY(-500%);
		opacity: 1;
	}

	to {
		transform: translateY(0%);
		opacity: .3;
	}
}

// Fade element from left to right
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(300px);
	}

	to {
		opacity: 1;
	}
}

// Fade element from right to left
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-300px);
	}

	to {
		opacity: 1;
	}
}

// add animation to element: move up and down
@keyframes up-down {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

// add animation to element: move down and up
@keyframes down-up {
	0% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(10px);
	}
}

@media (max-width: 600px) {
	.dev-lottie {
		height: auto;
	}
}

@media (max-width: 1000px) {
	.stone {
		display: none;
	}
}

@media (max-width: 1280px) {
	.stone:nth-child(2) {
		left: 130px; // angular
	}

	.stone:nth-child(3) {
		left: 100px; //nodejs
	}

	.stone:nth-child(4) {
		right: 130px;
		left: inherit; //prestashop
	}

	.stone:nth-child(5) {
		right: 100px; //wordpress
		left: inherit;
	}


	// .stone:nth-child(6) {
	// 	right: 150px;//shopify
	// }

	// .stone:nth-child(7) {
	// 	left: 100px;// android
	// }

	.stone:nth-child(8) {
		left: 130px; // react
	}

	.stone:nth-child(9) {
		right: 130px; // Shopware
	}
}
