<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'plugins_on_demand' | translate }}</li>
        </ol>
        <h2>{{ 'plugins_on_demand' | translate }}</h2>

    </div>
</section>
<section id="plugins-ondemand" class="plugins-ondemand">
    <div class="plugins-ondemand-container">
        <div class="image-container">
            <img src="../../assets/img/plugins_on_demand.jpg" alt="Plugins On Demand">
        </div>
        <h2>{{ 'plugins_on_demand_t1' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span>{{ 'plugins_on_demand_p1' | translate }}</p>
        <p>{{ 'plugins_on_demand_p2' | translate }}</p>
        <p>{{ 'plugins_on_demand_p3' | translate }} <span class="highlight">SYNC</span> {{ 'plugins_on_demand_p4' | translate }}</p>
    </div>
</section>