<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate }}</a></li>
            <li>{{ 'cms_dev' | translate }}</li>
        </ol>
        <h2>{{ 'cms_dev' | translate }}</h2>

    </div>
</section>
<section id="cms-dev" class="cms-dev">
    <div class="cms-dev-container">
        <div class="image-container">
            <img src="../../assets/img/cms-dev.png" alt="SYNC Web Development">
        </div>
        <h2>{{ 'cms_dev_t1' | translate }}</h2>
        <p>{{ 'at' | translate }} <span class="highlight">SYNC</span> {{ 'cms_dev_p1' | translate }}</p>
        <p>{{ 'cms_dev_p2' | translate }}</p>
        <p>{{ 'cms_dev_p3' | translate }} <span class="highlight">SYNC</span> {{ 'cms_dev_p4' | translate }}</p>
    </div>
</section>