.breadcrumbs {
    padding-top: 18vh !important;
    background-color: #292C45;
    margin-top: 0 !important;
}

.breadcrumbs h2 {
    color: #FFF;
}

.breadcrumbs ol li+li {
    color: #FFF;
}

.privacy {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.privacy-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    overflow: hidden;
}