<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a routerLink="/">{{ 'home' | translate}}</a></li>
            <li>{{ 'Privacy_Policy' | translate}}</li>
        </ol>
        <h2>{{ 'Privacy_Policy' | translate}}</h2>

    </div>
</section>
<section id="privacy" class="privacy">
    <div class="privacy-container">
        <p>Last updated: March 01, 2024</p>

        <h2>{{ 'Privacy_Policy' | translate}}</h2>
        <p>{{ 'Privacy_Policy_p1' | translate}}</p>
        <p>{{ 'Privacy_Policy_p2' | translate}}</p>

        <h3>{{ 'Interp_and_def' | translate}}</h3>
        <p><strong>{{ 'Interp_and_def_t1' | translate}}</strong></p>
        <p>{{ 'Interp_and_def_p1' | translate}}</p>

        <p><strong>{{ 'Interp_and_def_t2' | translate}}</strong></p>
        <ul>
            <li><strong>{{'Interp_and_def_li_1' | translate}}</strong> {{'Interp_and_def_li_1_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_2' | translate}}</strong> {{'Interp_and_def_li_2_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_3' | translate}}</strong> {{'Interp_and_def_li_3_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_4' | translate}}</strong> {{'Interp_and_def_li_4_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_5' | translate}}</strong> {{'Interp_and_def_li_5_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_6' | translate}}</strong> {{'Interp_and_def_li_6_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_7' | translate}}</strong> {{'Interp_and_def_li_7_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_8' | translate}}</strong> {{'Interp_and_def_li_8_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_9' | translate}}</strong> {{'Interp_and_def_li_9_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_10' | translate}}</strong> {{'Interp_and_def_li_10_1' | translate}}</li>
            <li><strong>{{'Interp_and_def_li_11' | translate}}</strong> {{'Interp_and_def_li_11_1' | translate}} <a href="https://www.sync.tn">https://www.sync.tn</a></li>
            <li><strong>{{'Interp_and_def_li_12' | translate}}</strong> {{'Interp_and_def_li_12_1' | translate}}</li>
        </ul>

        <h3>{{'collect_data' | translate}}</h3>
        <h4>{{'collect_data_t1' | translate}}</h4>
        <p><strong>{{'collect_data_t1_1' | translate}}</strong></p>
        <p>{{'collect_data_p1' | translate}}</p>
        <ul>
            <li>{{'collect_data_li1' | translate}}</li>
            <li>{{'collect_data_li2' | translate}}</li>
        </ul>

        <p><strong>{{'collect_data_t1_2' | translate}}</strong></p>
        <p>{{'collect_data_p2' | translate}}</p>
        <p>{{'collect_data_p3' | translate}}</p>
        <p>{{'collect_data_p4' | translate}}</p>
        <p>{{'collect_data_p5' | translate}}</p>

        <h4>{{'collect_data_t2' | translate}}</h4>
        <p>{{'collect_data_p6' | translate}}</p>
        <ul>
            <li><strong>{{'collect_data_li3' | translate}}</strong> {{'collect_data_li3_1' | translate}}</li>
            <li><strong>{{'collect_data_li4' | translate}}</strong> {{'collect_data_li4_1' | translate}}</li>
        </ul>
        <p>{{'collect_data_p7' | translate}}</p>
        <p>{{'collect_data_p8' | translate}}</p>
        <ul>
            <li><strong>{{'collect_data_li5' | translate}}</strong></li>
            <p>{{'collect_data_p9' | translate}}</p>
            <p>{{'collect_data_p10' | translate}}</p>
            <p>{{'collect_data_p11' | translate}}</p>
            <li><strong>{{'collect_data_li6' | translate}}</strong></li>
            <p>{{'collect_data_p12' | translate}}</p>
            <p>{{'collect_data_p13' | translate}}</p>
            <p>{{'collect_data_p14' | translate}}</p>
            <li><strong>{{'collect_data_li7' | translate}}</strong></li>
            <p>{{'collect_data_p15' | translate}}</p>
            <p>{{'collect_data_p16' | translate}}</p>
            <p>{{'collect_data_p17' | translate}}</p>

        </ul>
        <p>{{'collect_data_p18' | translate}}</p>

        <h4>{{'collect_data_t3' | translate}}</h4>
        <p>{{'collect_data_p19' | translate}}</p>
        <ul>
            <li><strong>{{'collect_data_li8' | translate}}</strong> {{'collect_data_li8_1' | translate}}</li>
            <li><strong>{{'collect_data_li9' | translate}}</strong> {{'collect_data_li9_1' | translate}}</li>
            <li><strong>{{'collect_data_li10' | translate}}</strong> {{'collect_data_li10_1' | translate}}</li>
            <li><strong>{{'collect_data_li11' | translate}}</strong> {{'collect_data_li11_1' | translate}}</li>
            <li><strong>{{'collect_data_li12' | translate}}</strong> {{'collect_data_li12_1' | translate}}</li>
            <li><strong>{{'collect_data_li13' | translate}}</strong> {{'collect_data_li13_1' | translate}}</li>
            <li><strong>{{'collect_data_li14' | translate}}</strong> {{'collect_data_li14_1' | translate}}</li>
        </ul>
        <p>{{'collect_data_p20' | translate}}</p>
        <ul>
            <li><strong>{{'collect_data_li15' | translate}}</strong> {{'collect_data_li15_1' | translate}}</li>
            <li><strong>{{'collect_data_li16' | translate}}</strong> {{'collect_data_li16_1' | translate}}</li>
            <li><strong>{{'collect_data_li17' | translate}}</strong> {{'collect_data_li17_1' | translate}}</li>
            <li><strong>{{'collect_data_li18' | translate}}</strong> {{'collect_data_li18_1' | translate}}</li>
            <li><strong>{{'collect_data_li19' | translate}}</strong> {{'collect_data_li19_1' | translate}}</li>
            <li><strong>{{'collect_data_li20' | translate}}</strong> {{'collect_data_li20_1' | translate}}</li>
        </ul>

        <h4>{{'collect_data_t4' | translate}}</h4>
        <p>{{'collect_data_p21' | translate}}</p>

        <h3>{{'links_to_other_websites' | translate}}</h3>
        <p>{{'links_to_other_websites_p1' | translate}}</p>
        <p>{{'links_to_other_websites_p2' | translate}}</p>

        <h3>{{ 'changes_to_privacy_policy' | translate}}</h3>
        <p>{{ 'changes_to_privacy_policy_p1' | translate}}</p>
        <p>{{ 'changes_to_privacy_policy_p2' | translate}}</p>
        <p>{{ 'changes_to_privacy_policy_p3' | translate}}</p>

        <h3>{{ 'contact_us' | translate }}</h3>
        <p>{{ 'contact_us_p1' | translate }}</p>
        <p>{{ 'contact_us_p2' | translate }}<a href="mailto:contact@sync.tn">contact@sync.tn</a></p>
        <p>{{ 'contact_us_p3' | translate }}</p>
    </div>
</section>