.breadcrumbs {
    padding-top: 18vh !important;
    background-color: #292C45;
    margin-top: 0 !important;
}

.breadcrumbs h2 {
    color: #FFF;
}

.breadcrumbs ol li+li {
    color: #FFF;
}

.privacy {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.privacy-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-container h1,.privacy-container h2 {
    text-align: center;
    color: #464C80;
}

.privacy-container h2 {
    margin-top: 20px;
}

.privacy-container p {
    margin-bottom: 20px;
}

.privacy-container a {
    color: #464C80;
}

.privacy-container ul {
    margin-bottom: 20px;
    padding-left: 20px;
}