<!-- ======= Hero Section ======= -->
<div class="first-section">
    <hero-section></hero-section>
</div>
<!-- End Hero -->
<main id="main">
    <!-- ======= Clients Section ======= -->
    <clients-section></clients-section>
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <about-us-section></about-us-section>
    <!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <why-us-section></why-us-section>
    <!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <services-section></services-section>
    <!-- End Services Section -->

    <!-- ======= CallToAction Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>{{ 'devis-gratuit' | translate }}</h3>
                    <p>{{ 'devis-gratuit-text' | translate }}</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="https://calendly.com/hot-transfere/30min" target="_blank">{{ 'devis-gratuit' | translate }}</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{{ 'portfolio' | translate }}</h2>
                <p>{{ 'portfolio-text' | translate }}</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>

            <!-- <div class="row cards_container">
				<div class="col-md-3 mb-3 text-center col-padding animate-box" *ngFor="let projet of portfolios">
					<a routerLink="portfolio-details/{{ projet._id }}" class="work" style="background-image: url({{projet.image}});">
						<div class="desc">
							<h3>{{ projet.title }}</h3>
							<span>{{ projet.category }}</span>
						</div>
					</a>
				</div>
			</div> -->
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div *ngFor="let projet of portfolios"
                    [ngClass]="'col-lg-4 col-md-6 portfolio-item ' + 'filter-' + projet.category.toLowerCase()">
                    <a routerLink="portfolio-details/{{ projet._id }}">
                        <div class="portfolio-img"><img [src]="projet.image" alt="{{ projet.title }}" class="img-fluid">
                        </div>
                        <div class="portfolio-info">
                            <h4>{{ projet.title }}</h4>
                            <p>{{ projet.category }}</p>
                            <a href="{{ projet.image }}" data-gallery="portfolioGallery" 
                                class="portfolio-lightbox preview-link" title="Voir l'image">
                                <i class="bx bx-plus"></i>
                            </a>
                            <a routerLink="portfolio-details/{{ projet._id }}" class="details-link" title="More Details">
                                <i class="bx bx-link"></i>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> 
    
    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{{ 'team' | translate }}</h2>
                <h4>{{ 'meet_Our' | translate }}</h4>
            </div>

            <div class="row">

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Aymen</h4>
                            <br>
                            <br>
                            <span>ARCHITECT DEVELOPMENT</span>
                            <br>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Haroun</h4>
                            <br>
                            <br>
                            <span>FULL STACK DEVELOPER</span>
                            <br>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href="https://www.linkedin.com/in/haroun-bayoudh-008811210/"> <i
                                        class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Karim</h4>
                            <br>
                            <br>
                            <span>MOBILE APPLICATION DEVELOPER</span>
                            <br>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href="https://www.linkedin.com/in/karimbouzid/"> <i class="ri-linkedin-box-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Sabri</h4>
                            <br>
                            <br>
                            <span>FULL STACK DEVELOPER</span>
                            <br>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href="https://www.linkedin.com/in/sabri-nouira/"> <i
                                        class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> -->
    <!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{{ 'asked_questions' | translate }}</h2>
                <div class="faq_lottie">
                    <ng-lottie [options]="FAQ"></ng-lottie>
                </div>
                <p>{{ 'asked_questions_sub' | translate }}</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                            {{ 'question1' | translate }}
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>{{ 'question1_res' | translate }}</p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                            {{ 'question2' | translate }}
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>{{ 'question2_res' | translate }}</p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                            {{ 'question3' | translate }}
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>{{ 'question3_res' | translate }}</p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                            {{ 'question4' | translate }}
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>{{ 'question4_res' | translate }}</p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
                            {{ 'question5' | translate }}
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>{{ 'question5_res' | translate }}</p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{{ 'contact' | translate }}</h2>
                <p>{{ 'do_you_have_any_questions' | translate }}</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>{{ 'location' | translate }}:</h4>
                            <p>Teboulba, Monastir, Tunisia</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>{{ 'email' | translate }}:</h4>
                            <p>contact@sync.tn</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>{{ 'call' | translate }}:</h4>
                            <p>+216 99 676 111</p>
                            <p>+216 51 873 655</p>
                        </div>

                        <div style="position: relative;">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202.64486600203523!2d10.970455339764815!3d35.644539634996654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13021624d8ada3d7%3A0xb3d7901e39eb53ad!2zSlhWQytRNUbYjCDZhtmH2Kwg2LfYsdin2KjZhNizLCBUYWJ1bGJhaA!5e0!3m2!1sfr!2stn!4v1700821594953!5m2!1sfr!2stn"
                                loading="lazy" class="map_card" referrerpolicy="no-referrer-when-downgrade">
                            </iframe> 
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">{{ 'your_Name' | translate }}</label>
                                <input type="text" [formControl]="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">{{ 'your_Email' | translate }}</label>
                                <input type="email" class="form-control" [formControl]="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">{{ 'subject' | translate }}</label>
                            <input type="text" class="form-control" [formControl]="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">{{ 'message' | translate }}</label>
                            <textarea class="form-control" [formControl]="message" rows="10" required></textarea>
                        </div>
                        <input [formControl]="honeypot" class="hidden" type="text" />
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">{{ 'Your_message_has' | translate }}</div>
                        </div>
                        <div class="text-center">
                            <button type="submit" [disabled]="isLoading">{{ 'send_Message' | translate }}</button>
                        </div>
                        <input [formControl]="honeypot" class="hidden" type="text" />
                        <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                            <span>{{responseMessage}}</span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>