.clients {
    background-color: white;
}

.clients .image-container {
    position: relative;
    overflow: hidden;
}

.clients .image-container:before,
.clients .image-container:after {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F3F5FA);
}

.clients .image-container:before {
    left: 0;
    transform: scaleX(-1);
    z-index: 9;
}

.clients .image-container:after {
    right: 0;
    transform: scaleX(1);
    z-index: 9;
}


.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.image-list {
    display: inline-block;
    animation: slide 10s linear infinite;
}

.image-container img {
    width: 150px;
    height: auto;
    margin-right: 100px;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
}

.image-container img:hover {
    filter: none;
    transform: scale(1.1);
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}
